<%= form_for @profile do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :real_name %><br />
    <%= f.text_field :real_name %>
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.date_select(:birthday, :start_year => 1910, :order => [:day, :month, :year]) %>
  </p>
  <p>
    <%= f.label :native_language_id %><br />
    <%= f.collection_select(:native_language_id, Language.all, :id, :name) %>
 
  </p>
  <p>
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </p>
  <p>
  	<%= f.hidden_field :user_id, :value => current_user.id  %>
	<%= f.hidden_field :location_id, :value => 0  %>
  </p>
  <p>
    <%= f.label :badge_id %><br />
    <%= f.collection_select(:badge_id, Badge.all, :id, :name) %>
  </p>

  <p><%= f.submit %></p>
<% end %>

