<div id="displaydata">
Term owned by: user/group<br/>	
	
<% @translation.attributes.each do |attr| %>
   <%= attr %><br />
<% end %>	
<br/>

</div>
Domain(s):
<% @contexts.each do |context| %>
	<%= Domain.find_by_id(context.domain_id).name %>
<% end %>	
<br/>

 

<div class="linksout">
<%= button_to 'Copy', copy_translation_path(@translation) %>
<p>
  <%= link_to "Edit", edit_translation_path(@translation) %> |
  <%= link_to "Destroy", @translation, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", translations_path %>
</p>
</div>
