<div class="row">
  <div class="span6 offset3">
		<% if @user.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@user.errors.count, "error") %> <%= t(:prevented_this_user_from_being_saved) %>:</h2>
		      <ul>
		      <% @user.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
	
		<%= form_for(@user) do |f| %>
		  

		  <div class="field">
		    <%= f.label :name %><br />
		    <%= f.text_field :name %>
		  </div>
		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.text_field :email %>
		  </div>
		  <div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password %>
		  </div>	
		  <div class="field">
			<%= f.label :password_confirmation, t(:confirmation) %><br />
			<%= f.password_field :password_confirmation %>
		  </div>
		  <%= f.submit t(:createmyaccount), class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>