<div id="mainpurpose">
<h1><%= @title %></h1>

<%= render 'form' %>

<div>
<div id="infopain">
	Other Users in the System:
	<br/>	
<% @allusers.each do | user | %>	
	<%= user.name %></br/>
	<%= t(:membersince) %> 
	<%= time_ago_in_words(user.created_at) %><br/> 
<% end %>
</div>	
<div id="linksout">	
<%= link_to t(:createnewgrouporlogin), signupgrp_path, :class => "signup_button round"%>
<%= link_to 'Back', users_path %>
</div>