<h1>
<%= @user.name %>
</h1>
<p>
  	<%= gravatar_for @user %><br/>
	<%= @user.email %></br/>
</p>

 <h1>Live Feed</h1>
    <p>	Live Feed Information Here.
							
			Other Users in the System:
			<br/>	
		<% @allusers.each do | user | %>	
			<%= user.name %></br/>
			<%= t(:membersince) %> 
			<%= time_ago_in_words(user.created_at) %><br/> 
		<% end %>
	</p>

<br/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to t(:createnewgrouporlogin), signupgrp_path %>

