<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
 	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= stylesheet_link_tag    "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css", media: "all" %>


	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
	<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
	<%= javascript_include_tag "http://xilinus.com/jquery-addresspicker/src/jquery.ui.addresspicker.js" %>
	<%= javascript_include_tag "locations" %>
	
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
   		<%= render 'layouts/header' %>

	<div class="container-fluid">
		
		<% flash.each do |key, value| %>
		        <div class="alert alert-<%= key %>"><%= value %></div>
		      <% end %>
		
		 <div class="row-fluid">
			<div class="span9">
				<div class="hero-unit">
			           
				</div><!--/.hero-unit-->		
			<%= yield %>		
			</div>
		
			<div class="span3">
				
					<%= yield :sidebar %>
			</div><!--/span3-->			
		
		</div><!--/row-fluid-->	
		<footer>
	   		<%= render 'layouts/footer' %>
		</footer>		
	</div><!--/.fluid-container-->	
	<div id="debug">	
		<%= debug(params) if Rails.env.development? %>	
    </div>
	</div>
  </body>
</html>
