<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
 	<%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id="header">
   		<%= render 'layouts/header' %>
	</div>	
	
	<div class="container-fluid">
		
		<% flash.each do |key, value| %>
		        <div class="alert alert-<%= key %>"><%= value %></div>
		      <% end %>
		
		 <div class="row-fluid">
			<div class="span9">
				<div class="hero-unit">
			            <h1>Live Feed</h1>
			            <p>	Live Feed Information Here.
												
								Other Users in the System:
								<br/>	
							<% @allusers.each do | user | %>	
								<%= user.name %></br/>
								<%= t(:membersince) %> 
								<%= time_ago_in_words(user.created_at) %><br/> 
							<% end %>
						</p>	
				</div><!--/.hero-unit-->		
				other less important information here
				maybe links			
			</div>
		
			<div class="span3">
				<%= yield %>
			</div><!--/span3-->			
		
		</div><!--/row-fluid-->	
		<footer>
	   		<%= render 'layouts/footer' %>
		</footer>		
	</div><!--/.fluid-container-->	
	<div id="debug">	
		<%= debug(params) if Rails.env.development? %>	
    </div>
	</div>
  </body>
</html>
